<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SchoolManagementSystem.Properties.Settings.smsConnectionString"
            connectionString="Data Source=DESKTOP-7APSCMC;Initial Catalog=sms;User ID=sa;Password=admin123"
            providerName="System.Data.SqlClient" />
        <add name="SchoolManagementSystem.Properties.Settings.smsConnectionString1"
            connectionString="Data Source=DESKTOP-7APSCMC;Initial Catalog=sms;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>